<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

<body style="font-family: Montserrat, sans-serif; font-weight: 400; padding: 0; margin: 0">
<div>
    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%; background-color: #f0681e; color: #121212;">
        <p style="color: white; margin-left: 10px">
            DIME - FINANCE CONTROL
        </p>
    </div>
    <div>
        <div style="width: 100%; padding: 10px 0">
            <div style="text-align: left; color: #121212; font-size: 18px; letter-spacing: 0.96px; opacity: 1;">
                Bill report - ${DATE}
            </div>
        </div>
        <div>
            <p style="font-size: 14px">
                Hello ${NAME}, here is your bills daily report.
            </p>
        </div>
        <div>
            <table style="break-after: auto; text-align: left; vertical-align: top; border-bottom: 1px solid #121212; width: 100%; font-size: 14px; border-collapse: collapse; border-spacing: 5px;">
                <thead style="background-color: #f0681e; font-weight: 300; display: table-header-group !important; break-inside: avoid; text-align: left; vertical-align: top; border-bottom: 1px solid #121212;">
                <tr>
                    <th style="break-inside: avoid; padding: 10px; text-align: left; vertical-align: top; border-bottom: 1px solid #121212;">Description</th>
                    <th style="break-inside: avoid; padding: 10px; text-align: left; vertical-align: top; border-bottom: 1px solid #121212;">Price</th>
                </tr>
                </thead>
                ${BILLS}
            </table>
        </div>
    </div>
</div>
</body>
</html>